<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
	        <section name="Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
	        <section name="StatisticsAnalysisTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
	    </sectionGroup>

	    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
	        <section name="Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	        <section name="StatisticsAnalysisTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	    </sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>
	<log4net configSource="Log4Net.config" />
    <startup>
	    <supportedRuntime version="v6.0.0" sku=".NETFramework,Version=v6.0" />
    </startup>
    <userSettings>
        <Properties.Settings>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayerModeUpdateFileName" serializeAs="String">
                <value>PlayerModeInformation.txt</value>
            </setting>
            <setting name="SoundDirectoryName" serializeAs="String">
                <value>Sounds</value>
            </setting>
            <setting name="ActiveAlertsFileName" serializeAs="String">
                <value>ActiveAlerts.json</value>
            </setting>
            <setting name="WorldDataFileName" serializeAs="String">
                <value>world.json</value>
            </setting>
            <setting name="DungeonRunsFileName" serializeAs="String">
                <value>DungeonRuns.json</value>
            </setting>
            <setting name="LootChestDataFileName" serializeAs="String">
                <value>lootchests.json</value>
            </setting>
            <setting name="FavoriteItemsFileName" serializeAs="String">
                <value>FavoriteItems.json</value>
            </setting>
            <setting name="ItemSpriteToJournalFileName" serializeAs="String">
                <value>ItemSpriteToJournal.json</value>
            </setting>
            <setting name="ItemsJsonFileName" serializeAs="String">
                <value>Items.json</value>
            </setting>
            <setting name="StatsFileName" serializeAs="String">
                <value>Stats.json</value>
            </setting>
            <setting name="MailsFileName" serializeAs="String">
                <value>Mails.json</value>
            </setting>
            <setting name="VaultsFileName" serializeAs="String">
                <value>Vaults.json</value>
            </setting>
            <setting name="CraftingNotesFileName" serializeAs="String">
                <value>CraftingNotes.json</value>
            </setting>
            <setting name="PlayerKillsDeathsFileName" serializeAs="String">
                <value>PlayerKillsDeaths.json</value>
            </setting>
            <setting name="TreasureStatsFileName" serializeAs="String">
                <value>TreasureStats.json</value>
            </setting>
            <setting name="DamageMeterSnapshotsFileName" serializeAs="String">
                <value>DamageMeterSnapshots.json</value>
            </setting>
        </Properties.Settings>
        <StatisticsAnalysisTool.Properties.Settings>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayerModeUpdateFileName" serializeAs="String">
                <value>PlayerModeInformation.txt</value>
            </setting>
            <setting name="SoundDirectoryName" serializeAs="String">
                <value>Sounds</value>
            </setting>
            <setting name="ActiveAlertsFileName" serializeAs="String">
                <value>ActiveAlerts.json</value>
            </setting>
            <setting name="WorldDataFileName" serializeAs="String">
                <value>world.json</value>
            </setting>
            <setting name="DungeonRunsFileName" serializeAs="String">
                <value>DungeonRuns.json</value>
            </setting>
            <setting name="LootChestDataFileName" serializeAs="String">
                <value>lootchests.json</value>
            </setting>
            <setting name="FavoriteItemsFileName" serializeAs="String">
                <value>FavoriteItems.json</value>
            </setting>
            <setting name="ItemSpriteToJournalFileName" serializeAs="String">
                <value>ItemSpriteToJournal.json</value>
            </setting>
            <setting name="ItemsJsonFileName" serializeAs="String">
                <value>Items.json</value>
            </setting>
            <setting name="StatsFileName" serializeAs="String">
                <value>Stats.json</value>
            </setting>
            <setting name="MailsFileName" serializeAs="String">
                <value>Mails.json</value>
            </setting>
            <setting name="VaultsFileName" serializeAs="String">
                <value>Vaults.json</value>
            </setting>
            <setting name="CraftingNotesFileName" serializeAs="String">
                <value>CraftingNotes.json</value>
            </setting>
            <setting name="PlayerKillsDeathsFileName" serializeAs="String">
                <value>PlayerKillsDeaths.json</value>
            </setting>
            <setting name="TreasureStatsFileName" serializeAs="String">
                <value>TreasureStats.json</value>
            </setting>
            <setting name="DamageMeterSnapshotsFileName" serializeAs="String">
                <value>DamageMeterSnapshots.json</value>
            </setting>
            <setting name="GitHubSponsorsUrl" serializeAs="String">
                <value>https://github.com/sponsors/Triky313</value>
            </setting>
            <setting name="TradesFileName" serializeAs="String">
                <value>Trades.json</value>
            </setting>
            <setting name="UserDataDirectoryName" serializeAs="String">
                <value>UserData</value>
            </setting>
            <setting name="IsDebugMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GuildFileName" serializeAs="String">
                <value>Guild.json</value>
            </setting>
            <setting name="SpellLocalizationsFileName" serializeAs="String">
                <value>spells-localization.json</value>
            </setting>
        </StatisticsAnalysisTool.Properties.Settings>
    </userSettings>
<applicationSettings>
        <Properties.Settings>
                <setting name="LanguageDirectoryName" serializeAs="String">
                        <value>Languages</value>
                </setting>
                <setting name="ImageResources" serializeAs="String">
                        <value>ImageResources</value>
                </setting>
                <setting name="ItemListFileName" serializeAs="String">
                        <value>ItemList.json</value>
                </setting>
                <setting name="DonateUrl" serializeAs="String">
                        <value>https://www.paypal.com/donate/?hosted_button_id=N6T3CWXYNGHKC</value>
                </setting>
                <setting name="AutoUpdateConfigUrl" serializeAs="String">
                        <value>https://raw.githubusercontent.com/Triky313/AlbionOnline-StatisticsAnalysis/main/src/StatisticsAnalysisTool/ao-update-check.xml</value>
                </setting>
                <setting name="DefaultLanguageCultureName" serializeAs="String">
                        <value>en-US</value>
                </setting>
                <setting name="GitHubRepoUrl" serializeAs="String">
                        <value>https://github.com/Triky313/AlbionOnline-StatisticsAnalysis</value>
                </setting>
                <setting name="DiscordUrl" serializeAs="String">
                        <value>https://discord.com/invite/sahSrSPmaJ</value>
                </setting>
                <setting name="CityPricesApiUrlDefault" serializeAs="String">
                        <value>https://www.albion-online-data.com/api/v2/stats/prices/</value>
                </setting>
                <setting name="CityPricesHistoryApiUrlDefault" serializeAs="String">
                        <value>https://www.albion-online-data.com/api/v2/stats/history/</value>
                </setting>
                <setting name="GoldStatsApiUrlDefault" serializeAs="String">
                        <value>https://www.albion-online-data.com/api/v2/stats/Gold</value>
                </setting>
                <setting name="GameFilesDirectoryName" serializeAs="String">
                        <value>GameFiles</value>
                </setting>
                <setting name="SettingsFileName" serializeAs="String">
                        <value>Settings.json</value>
                </setting>
                <setting name="AutoUpdatePreReleaseConfigUrl" serializeAs="String">
                        <value>https://raw.githubusercontent.com/Triky313/AlbionOnline-StatisticsAnalysis/main/src/StatisticsAnalysisTool/ao-pre-release-update-check.xml</value>
                </setting>
                <setting name="KeepDashboardStatisticsForDays" serializeAs="String">
                        <value>-90</value>
                </setting>
                <setting name="PatreonUrl" serializeAs="String">
                        <value>https://www.patreon.com/triky313</value>
                </setting>
                <setting name="DonationsUrl" serializeAs="String">
                        <value>https://raw.githubusercontent.com/Triky313/AlbionOnline-StatisticsAnalysis/main/donations.json</value>
                </setting>
                <setting name="EstimatedMarketValueFileName" serializeAs="String">
                        <value>EstimatedMarketValues.json</value>
                </setting>
                <setting name="MobDataFileName" serializeAs="String">
                        <value>mobs.json</value>
                </setting>
                <setting name="DungeonClosedSoundFileName" serializeAs="String">
                        <value>dungeon_closed.wav</value>
                </setting>
                <setting name="IsContainerRepairCostsVisible" serializeAs="String">
                        <value>False</value>
                </setting>
        </Properties.Settings>
        <StatisticsAnalysisTool.Properties.Settings>
                <setting name="LanguageDirectoryName" serializeAs="String">
                        <value>Languages</value>
                </setting>
                <setting name="ImageResources" serializeAs="String">
                        <value>ImageResources</value>
                </setting>
                <setting name="IndexedItemsFileName" serializeAs="String">
                        <value>IndexedItems.json</value>
                </setting>
                <setting name="DonateUrl" serializeAs="String">
                        <value>https://www.paypal.com/donate/?hosted_button_id=N6T3CWXYNGHKC</value>
                </setting>
                <setting name="AutoUpdateConfigUrl" serializeAs="String">
                        <value>https://raw.githubusercontent.com/Triky313/AlbionOnline-StatisticsAnalysis/main/src/StatisticsAnalysisTool/ao-update-check.xml</value>
                </setting>
                <setting name="DefaultLanguageCultureName" serializeAs="String">
                        <value>en-US</value>
                </setting>
                <setting name="GitHubRepoUrl" serializeAs="String">
                        <value>https://github.com/Triky313/AlbionOnline-StatisticsAnalysis</value>
                </setting>
                <setting name="DiscordUrl" serializeAs="String">
                        <value>https://discord.com/invite/sahSrSPmaJ</value>
                </setting>
                <setting name="GameFilesDirectoryName" serializeAs="String">
                        <value>GameFiles</value>
                </setting>
                <setting name="SettingsFileName" serializeAs="String">
                        <value>Settings.json</value>
                </setting>
                <setting name="AutoUpdatePreReleaseConfigUrl" serializeAs="String">
                        <value>https://raw.githubusercontent.com/Triky313/AlbionOnline-StatisticsAnalysis/main/src/StatisticsAnalysisTool/ao-pre-release-update-check.xml</value>
                </setting>
                <setting name="KeepDashboardStatisticsForDays" serializeAs="String">
                        <value>-90</value>
                </setting>
                <setting name="PatreonUrl" serializeAs="String">
                        <value>https://www.patreon.com/triky313</value>
                </setting>
                <setting name="DonationsUrl" serializeAs="String">
                        <value>https://raw.githubusercontent.com/Triky313/AlbionOnline-StatisticsAnalysis/main/donations.json</value>
                </setting>
                <setting name="EstimatedMarketValueFileName" serializeAs="String">
                        <value>EstimatedMarketValues.json</value>
                </setting>
                <setting name="MobDataFileName" serializeAs="String">
                        <value>mobs.json</value>
                </setting>
                <setting name="DungeonClosedSoundFileName" serializeAs="String">
                        <value>dungeon_closed.wav</value>
                </setting>
                <setting name="IsContainerRepairCostsVisible" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="TempDirecoryName" serializeAs="String">
                        <value>temp</value>
                </setting>
                <setting name="GatheringFileName" serializeAs="String">
                        <value>Gathering.json</value>
                </setting>
                <setting name="ModifiedMobDataFileName" serializeAs="String">
                        <value>mobs-modified.json</value>
                </setting>
                <setting name="ModifiedLootChestDataFileName" serializeAs="String">
                        <value>lootchest-modified.json</value>
                </setting>
                <setting name="ModifiedWorldDataFileName" serializeAs="String">
                        <value>world-modified.json</value>
                </setting>
                <setting name="SpellDataFileName" serializeAs="String">
                        <value>spells.xml</value>
                </setting>
                <setting name="SpellImageResources" serializeAs="String">
                        <value>SpellImageResources</value>
                </setting>
                <setting name="BackupDirectoryName" serializeAs="String">
                        <value>Backups</value>
                </setting>
                <setting name="MistsDataFileName" serializeAs="String">
                        <value>mists.json</value>
                </setting>
                <setting name="ModifiedMistsDataFileName" serializeAs="String">
                        <value>mists-modified.json</value>
                </setting>
        </StatisticsAnalysisTool.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PacketDotNet" publicKeyToken="451414c7667b2a58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
