<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="StatisticsAnalysisTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="StatisticsAnalysisTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>

        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <StatisticsAnalysisTool.Properties.Settings>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayerModeUpdateFileName" serializeAs="String">
                <value>PlayerModeInformation.txt</value>
            </setting>
            <setting name="SoundDirectoryName" serializeAs="String">
                <value>Sounds</value>
            </setting>
            <setting name="ActiveAlertsFileName" serializeAs="String">
                <value>ActiveAlerts.json</value>
            </setting>
            <setting name="WorldDataFileName" serializeAs="String">
                <value>world.json</value>
            </setting>
            <setting name="WorldDataSourceUrl" serializeAs="String">
                <value>https://raw.githubusercontent.com/Triky313/AlbionOnline-StatisticsAnalysis/master/src/StatisticsAnalysisTool/GameFiles/world.json</value>
            </setting>
            <setting name="UpdateWorldDataByDays" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="DungeonRunsFileName" serializeAs="String">
                <value>DungeonRuns.json</value>
            </setting>
            <setting name="LootChestDataFileName" serializeAs="String">
                <value>lootchests.json</value>
            </setting>
            <setting name="LootChestDataSourceUrl" serializeAs="String">
                <value>https://raw.githubusercontent.com/Triky313/AlbionOnline-StatisticsAnalysis/master/src/StatisticsAnalysisTool/GameFiles/lootchests.json</value>
            </setting>
            <setting name="FavoriteItemsFileName" serializeAs="String">
                <value>FavoriteItems.json</value>
            </setting>
            <setting name="ItemSpriteToJournalFileName" serializeAs="String">
                <value>ItemSpriteToJournal.json</value>
            </setting>
            <setting name="DefaultItemsJsonSourceUrl" serializeAs="String">
                <value>https://raw.githubusercontent.com/broderickhyman/ao-bin-dumps/master/items.json</value>
            </setting>
            <setting name="ItemsJsonFileName" serializeAs="String">
                <value>Items.json</value>
            </setting>
            <setting name="AutoUpdatePreReleaseConfigUrl" serializeAs="String">
                <value>https://raw.githubusercontent.com/Triky313/AlbionOnline-StatisticsAnalysis/master/src/StatisticsAnalysisTool/ao-pre-release-update-check.xml</value>
            </setting>
            <setting name="StatsFileName" serializeAs="String">
                <value>Stats.json</value>
            </setting>
        </StatisticsAnalysisTool.Properties.Settings>
    </userSettings>
<applicationSettings>
        <StatisticsAnalysisTool.Properties.Settings>
            <setting name="LanguageDirectoryName" serializeAs="String">
                <value>Languages</value>
            </setting>
            <setting name="ImageResources" serializeAs="String">
                <value>ImageResources</value>
            </setting>
            <setting name="ItemListFileName" serializeAs="String">
                <value>ItemList.json</value>
            </setting>
            <setting name="DonateUrl" serializeAs="String">
                <value>https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=LEM458PZ4FV4C&amp;source=url</value>
            </setting>
            <setting name="DefaultItemListSourceUrl" serializeAs="String">
                <value>https://raw.githubusercontent.com/broderickhyman/ao-bin-dumps/master/formatted/items.json</value>
            </setting>
            <setting name="AutoUpdateConfigUrl" serializeAs="String">
                <value>https://raw.githubusercontent.com/Triky313/AlbionOnline-StatisticsAnalysis/master/src/StatisticsAnalysisTool/ao-update-check.xml</value>
            </setting>
            <setting name="DefaultLanguageCultureName" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="GitHubRepoUrl" serializeAs="String">
                <value>https://github.com/Triky313/AlbionOnline-StatisticsAnalysis</value>
            </setting>
            <setting name="DiscordUrl" serializeAs="String">
                <value>https://discord.com/invite/sahSrSPmaJ</value>
            </setting>
            <setting name="CityPricesApiUrlDefault" serializeAs="String">
                <value>https://www.albion-online-data.com/api/v2/stats/prices/</value>
            </setting>
            <setting name="CityPricesHistoryApiUrlDefault" serializeAs="String">
                <value>https://www.albion-online-data.com/api/v2/stats/history/</value>
            </setting>
            <setting name="GoldStatsApiUrlDefault" serializeAs="String">
                <value>https://www.albion-online-data.com/api/v2/stats/Gold</value>
            </setting>
            <setting name="GameFilesDirectoryName" serializeAs="String">
                <value>GameFiles</value>
            </setting>
            <setting name="SettingsFileName" serializeAs="String">
                <value>Settings.json</value>
            </setting>
            <setting name="KeepDashboardStatisticsForDays" serializeAs="String">
                <value>-90</value>
            </setting>
        </StatisticsAnalysisTool.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PacketDotNet" publicKeyToken="451414c7667b2a58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
