<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StatisticsAnalysisTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StatisticsAnalysisTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <StatisticsAnalysisTool.Properties.Settings>
            <setting name="RefreshRate" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="LanguageDirectoryName" serializeAs="String">
                <value>Languages</value>
            </setting>
            <setting name="ImageResources" serializeAs="String">
                <value>ImageResources</value>
            </setting>
            <setting name="ItemListFileName" serializeAs="String">
                <value>ItemList.json</value>
            </setting>
            <setting name="UpdateItemListByDays" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="AutoUpdateConfigUrl" serializeAs="String">
                <value>https://raw.githubusercontent.com/Triky313/AlbionOnline-StatisticsAnalysis/master/StatisticsAnalysisTool/StatisticsAnalysisTool/ao-update-check.xml</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CurrentItemListSourceUrl" serializeAs="String">
                <value>https://raw.githubusercontent.com/broderickhyman/ao-bin-dumps/master/formatted/items.json</value>
            </setting>
            <setting name="CurrentLanguageCulture" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="SavedPlayerInformationName" serializeAs="String">
                <value />
            </setting>
        </StatisticsAnalysisTool.Properties.Settings>
    </userSettings>
<applicationSettings>
        <StatisticsAnalysisTool.Properties.Settings>
            <setting name="ActiveMode" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="DonateUrl" serializeAs="String">
                <value>https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=LEM458PZ4FV4C&amp;source=url</value>
            </setting>
            <setting name="DefaultItemListSourceUrl" serializeAs="String">
                <value>https://raw.githubusercontent.com/broderickhyman/ao-bin-dumps/master/formatted/items.json</value>
            </setting>
        </StatisticsAnalysisTool.Properties.Settings>
    </applicationSettings>
</configuration>