<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Albion.Network" version="5.0.0" targetFramework="net472" />
  <package id="Autoupdater.NET.Official" version="1.7.0" targetFramework="net48" />
  <package id="FontAwesome5" version="2.1.4" targetFramework="net48" />
  <package id="log4net" version="2.0.12" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="PacketDotNet" version="1.2.0" targetFramework="net48" />
  <package id="Pastel" version="2.1.0" targetFramework="net48" />
  <package id="PhotonPackageParser" version="4.1.0" targetFramework="net472" />
  <package id="SharpPcap" version="5.4.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net48" />
</packages>